# Please don't commit secrets to GitHub!

# VSCode files
.vscode/

# Pycache and MISC
**/__pycache__/
**/.pytest_cache*
*.pyc
*.secret

# Mac Files
**/.DS_Store

# Pipfile
Pipfile*

# ENV Variables
.env
.jwt
